@use "src/styles/colors";
@use "src/styles/padding";

.header {
    display: grid;
    align-items: center;
    grid-template-areas: "logo menu";

    .logo{
        grid-area: "logo";

    }

    .mobileMenu{
        grid-area: menu;
        border: none;
        padding: initial;
        justify-self: end;

        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }

    nav {
        margin-left: 0;

        ul {
            display: flex;
        
            li {
                list-style-type: none;
                margin: 0 10px;
            }
        }
    }
}

.mobileMenuHeader {
    // overwriting grid
    height: initial;
    grid-column: 1/3;
    padding: 0;
    background-color: colors.$white;
    z-index: 10000;
    display: grid;
    align-items: center;
    grid-template-rows: 50px auto;
    grid-template-areas: 
    "menu"
    "nav";

    .mobileMenu{
        margin-top: padding.$mobile-close-margin;
        padding: 0;
        grid-area: menu;
        justify-self: end;

        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }


    .logo{
       display: none;

    }

    nav {
        grid-area: nav;
        margin-left: 0;
        text-align: center;

        ul {
            padding: 0;
        
            li {
                list-style-type: none;
                margin: 20px 10px;

                a {
                    color: colors.$black;
                    font-size: 1.4rem;
                }
            }
        }

        button {
            border: 1px solid colors.$black;
            color: colors.$black;
            font-size: 1.4rem;
        }
    }
}