@use "src/styles/colors";

.header {
    display: grid;
    align-items: center;
    grid-template-areas: "logo menu";

    .logo{
        grid-area: "logo";

    }

    .mobileMenu{
        grid-area: menu;
        border: none;
        padding: initial;
        justify-self: end;

        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }

    nav {
        margin-left: 0;

        ul {
            display: flex;
        
            li {
                list-style-type: none;
                margin: 0 10px;
            }
        }
    }
}

.mobileMenuHeader {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: colors.$white;
    z-index: 10000;
    color: colors.$black !important;

    .mobileMenu{
        grid-area: menu;
        border: none;
        padding: initial;
        justify-self: end;

        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }


    .logo{
       display: none;

    }

    a {
        color: colors.$black;
    }

    nav {
        margin-left: 0;

        ul {
        
            li {
                list-style-type: none;
                margin: 0 10px;

                a {
                    color: colors.$black;
                }
            }
        }

        button {
            border: 1px solid colors.$black;
            color: colors.$black;
        }
    }
}